#email-form
  h2 Speak the Truth
  p Please enter your email
  form
    input#email.needsclick(type= 'email', name='email', autocomplete= 'off')
    .buttons.needsclick
      input#submit.needsclick(type= 'submit', value='Enter')
    .field.terms
      .email-conditions
        input(type='checkbox', name='terms', id='terms')
        label(for='terms')
          | I agree to Ray-Ban’s 
          a.fancybox(href='http://www.ray-ban.com/usa/terms-of-use', data-fancybox-type='iframe') Conditions of Use & Sale
          | , 
          a.fancybox(href='http://www.ray-ban.com/usa/privacy-policy', data-fancybox-type='iframe') Privacy Notice
          | , and 
          a.fancybox(href='http://www.ray-ban.com/usa/privacy-policy', data-fancybox-type='iframe') Cookies & Internet Advertising
    #error
