#font-form
  form
    ul
      li Choose your font:
      li
        input#megan-hand(type= 'radio', name='font', value='megan-hand', checked='checked')
        label(for= 'megan-hand') Megan Hand
      li
        input#giddehand(type= 'radio', name='font', value='giddehand')
        label(for= 'giddehand') Giddehand

    #preview.megan-hand
      h2= message

    hr
    h2 Ready to print?

    #error

    .buttons
      input#submit(type='submit', value: 'Submit')
      #back Back

    #loading
      .bg
      img(src='/img/loading.svg')
