#message-form
  p Type your confession below and press Enter when you are ready.
  form
    textarea#message.needsclick(type= 'text', name='message', maxlength= '60', autocomplete= 'off', value= message)
    .buttons
      input#submit(type= 'submit', value='Enter')
      #back Back
    #error
