#size-form
  p Speak the Truth! Confess your deepest thoughts no matter how outrageous they may be.
  form
    ul
      li Choose your T-shirt size:
      li
        input#xs(type= 'radio', name='size', value='xs')
        label(for= 'xs') xs
      li
        input#s(type= 'radio', name='size', value='s')
        label(for= 's') s
      li
        input#m(type= 'radio', name='size', value='m', checked= 'checked')
        label(for= 'm') m
      li
        input#l(type= 'radio', name='size', value='l')
        label(for= 'l') l
      li
        input#xl(type= 'radio', name='size', value='xl')
        label(for= 'xl') xl
      li
        input#2xl(type= 'radio', name='size', value='2xl', disabled= 'disabled')
        label(for= '2xl') 2xl
    hr
    .buttons
      input#submit(type='submit', value= 'Next')
      #back Back
