doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css()
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
    script(type='text/javascript', src='http://fast.fonts.net/jsapi/de6dd137-b59f-40a9-9ec7-0688364cd4e1.js')

  body
    #wrap
      header
      block content
      footer: h2 #Campaign4Change

    != client_templates()
    script(src= 'js/build.js')
