#done
  absolute: top 50% left 0 right 0
  transform: translateY(-50%)

  #reset
    size: 70px
    background-size: 50%
    background-repeat: no-repeat
    background-image: url('/img/redo.svg')
    background-color: red
    background-position: 48% 50%
    border-radius: 50%
    cursor: pointer
    margin: 50px auto
