#email-form
  padding-top: 80px

  p
    padding: 50px 0 35px

  #email
    display: block
    width: 100%
    height: 225px
    margin: 0
    padding: 0
    outline: 0
    border: 0
    text-align: center
    background-color: white
    color: black 
    text-transform: uppercase
    font-size: 6.2em
    margin: 13px auto 25px
    max-width: 700px
    padding-top: 5px
    height: 100px
    border-radius: 5px

  .buttons
    margin: 60px 0 30px

  #error
    padding: 10px
    text-transform: uppercase
    text-align: center
    background: rgba(red, .7)
    display: none
    max-width: 450px
    margin: 30px auto 0
    font-size: 2.5em
    color: white

  .field
    max-width: 670px
    margin: 0 auto
    group()

    label
      font-size: 2em
      color: white
      inline-block()
      text-align: left
      max-width: 600px

  h2
    color: white
    text-transform: uppercase
    text-align: center
    font-size: 4em

  .terms
    font-size: .7em
    margin-top: 15px

    .input
      group()
    
    input[type=checkbox]
      width: 35px
      height: 60px
      float: left
    
    label
      margin-top: 24px
      float: left
      padding-left: 20px
    
    a
      link: red
      margin: 0 5px
      cursor: pointer

    p
      font-size: 1.5em
      margin: 0

  .email-conditions
    margin-top: -10px

    a
      margin: 0 2px

