@font-face
  font-family: 'giddehand'
  src: url('/fonts/giddehand.ttf')
  font-weight: normal

@font-face
  font-family: 'megan-hand'
  src: url('/fonts/megan-hand.ttf')
  font-weight: 500

@font-face
  font-family: 'trade-gothic'
  src: url('/fonts/trade-gothic-condensed-bold.otf')
