#font-form
  text-align: center

  h2
    color: white

  ul
    radio-form()
    padding-top: 60px

  #preview
    padding-top: 35px
    padding-bottom: 7px
    text-transform: uppercase
    max-width: 900px
    height: 280px
    margin: 0 auto
    overflow: hidden
    position: relative

    h2
      font-weight: normal
      font-size: 6em
      absolute: top 50%
      transform: translateY(-50%)
      width: 100%

    &.giddehand
      font-family: 'giddehand'

      h2
        line-height: 1.5em

    &.megan-hand
      font-family: 'megan-hand'

      h2
        font-size: 7.5em
        line-height: 1.4em
        relative: bottom 15px

  h2
    font-size: 2.4em
    font-weight: normal

  hr
    margin: 25px auto 35px

  .buttons
    margin: 60px auto

  #loading
    position: absolute
    display: none
    top: 0
    left: 0
    right: 0
    height: 100%
    width: 100%

    .bg
      height: 100%
      width: 100%
      background-color: black
      opacity: .9

    img
      position: absolute
      top: 50%
      margin-top: -25px
      margin-left: -25px
      width: 50px

  #error
    padding: 10px
    text-transform: uppercase
    text-align: center
    background: rgba(red, .7)
    display: none
    max-width: 500px
    margin: 30px auto 0
    font-size: 2.5em
    color: white
