header
  size: 103px 60px
  background-color: red
  background-image: url('/img/logo.svg')
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  absolute: top 0 left 0
