#message-form
  padding: 50px 0 0

  p
    padding: 50px 0 13px

  #message
    display: block
    width: 100%
    height: 225px
    margin: 0
    padding: 0
    outline: 0
    border: 0
    text-align: center
    background-color: transparent
    color: white
    text-transform: uppercase
    font-size: 6.2em
    margin: 13px auto 25px
    max-width: 700px

  .terms
    font-size: .7em
    margin-top: 15px

    .input
      group()
    
    input[type=checkbox]
      width: 35px
      height: 60px
      float: left
    
    label
      margin-top: 17px
      display: block
      float: left
    
    a
      link: red
      margin: 0 5px
      cursor: pointer

    p
      font-size: 0.5em
      margin: 0
      padding-left: 35px

  .email-conditions
    margin-top: -10px

    a
      margin: 0 2px

  .buttons
    margin: 60px 0

  #error
    padding: 10px
    text-transform: uppercase
    text-align: center
    background: rgba(red, .7)
    display: none
    max-width: 600px
    margin: 30px auto 0
    font-size: 2.5em
    color: white
