button()
  inline-block()
  text-align: center
  min-width: 150px
  height: 60px
  text-transform: uppercase
  border: 5px solid white
  background-color: transparent
  color: white
  font-size: 2.6em
  box-sizing: border-box
  margin: 0 18px
  vertical-align: top

radio-form()
  inline-list()
  inline-block()
  font-size: 2.4em
  text-transform: uppercase
  color: white

  input
    display: none

  font-nav-padding = 13px
  font-nav-border  = 5px

  li
    cursor: pointer

    &:first-child
      padding: font-nav-padding
      border: font-nav-border solid transparent

  label
    padding: font-nav-padding
    border: font-nav-border solid transparent
    display: block

  input[type="radio"]:checked + label
    border: font-nav-border solid red

  input[type="radio"]:disabled + label
    color: gray
    text-decoration: line-through
