#size-form
  absolute: top 50% left 0 right 0
  transform: translateY(-50%)
  text-align: center

  ul
    radio-form()
    padding-top: 35px

  #submit
    button()
    margin: 0 auto

  p
    padding: 25px 0
    max-width: 450px

  hr
    margin: 50px auto
