@import '_settings'
@import '_fonts'
@import '_mixins'

normalize-css()
base()

body
  font-family: 'trade-gothic'
  font-size: 10px
  background-image: url('/img/background.jpg')

h1, h2, h3, h4, h5, h6
  margin: 0

#wrap
  position: relative
  margin: 0 auto
  max-width: 1024px
  height: 768px

#main
  p
    color: white
    text-align: center
    font-size: 2.5em
    max-width: 600px
    margin: 0 auto

hr
  padding: 0
  border: 0
  max-width: 110px
  height: 1px
  background-color: red

.buttons
  text-align: center

#submit, #back
  button()

#back
  line-height: 50px

@import '_header'
@import '_footer'
@import '_email_form'
@import '_size_form'
@import '_message_form'
@import '_font_form'
@import '_done'
